body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header h1 {
  text-align: center;
}

.todoList {
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.todoList ul {
  list-style-type: none;
  margin: auto 0;
  padding: 0;
}

.strike {
  text-decoration: line-through;
}